* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: #000;
    position: relative;
}
canvas {
    position: absolute;
    height: 100vh;
    width: 100wh;
}